body {
    color: rgb(0, 0, 0);
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    background-image: linear-gradient(to right, steelblue, midnightblue);
     margin: 0px;
     color: rgb(255, 255, 255);
     text-align: center;
     padding: 2em 2em 0;
     border-bottom: 1px solid #eee;
     border-top: 0px;
     width: auto;
 }
    .header h1 {
        font-size: 50px;
        text-align: center;
        padding: 0;
    }
    .searchFunction {
        padding: 0;
        width:100%;
        margin: 0%;     
      display: flex;
      flex-wrap: wrap;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    }

    .searchBar {
        padding: 0;
        width:100%;
        margin: 0%;     
      display: flex;
      flex-wrap: wrap;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    }

    .form-input {
        border: 1px solid #000000;
        display: block;
        padding: 7px 15px;
        font-size: 16px;
        color: #000000;
        width: 100%;
        margin-bottom: 15px; 
        border-radius: 10px;
        background-color: rgba(255,255,255, 0.75);
      }

.content-subhead {
    margin: 50px 0 20px 0;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .searchFunction {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
        .searchFunction {
            padding-left: 150px; /* left col width "#menu" */
            left: 0;
        }
    }
}